<?xml version="1.0" encoding="UTF-8"?>
<modules>
	<module>
		<name>MesoraPerspectiveDrawingTool</name>
		<id>com.mesora.perspective.drawing</id>
		<version>0.1.1-SNAPSHOT</version>
		<description>A Perspective custom component module for Vizi drawing documents.</description>
		<license>license.html</license>
		<requiredIgnitionVersion>8.3.0</requiredIgnitionVersion>
		<freeModule>true</freeModule>
		<hook scope="G">com.mesora.perspective.drawing.gateway.MesoraPerspectiveDrawingGatewayHook</hook>
		<hook scope="D">com.mesora.perspective.drawing.designer.MesoraPerspectiveDrawingDesignerHook</hook>
		<depends scope="GD">com.inductiveautomation.perspective</depends>
		<requiredFrameworkVersion>8</requiredFrameworkVersion>
		<jar scope="DG">common-0.1.1-SNAPSHOT.jar</jar>
		<jar scope="D">designer-0.1.1-SNAPSHOT.jar</jar>
		<jar scope="G">gateway-0.1.1-SNAPSHOT.jar</jar>
	</module>
</modules>